<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Viewer</title>
</head>
<body>
  <div id="app">
    <div>{{ id }}</div>
    <button v-on:click="createSimulator">CREATE</button>
    <button v-on:click="refresh">REFRESH</button>
    <p v-if="isEnd" id="isEnd">GAME END</p>
    <div id="game">
      <div id="field">
        <div v-for="line in floor_map" class="line">
          <div v-for="e in line">
            <div :class="{room: e===1, road: e===2, agent: e===3, enemy: e===4, goal: e===5, dead: e===6}" class="cell"></div>
          </div>
        </div>
      </div>
      <div id="input">
        <div class="cross-button">
          <button class="up-button" v-on:click="up">↑</button>
          <button class="down-button" v-on:click="down">↓</button>
          <button class="left-button" v-on:click="left">←</button>
          <button class="right-button" v-on:click="right">→</button>
        </div>
        <div>
          <div class="attack-button">
            <button class="center-button" v-on:click="attack">A</button>
          </div>
        </div>
      </div>
    </div>
    <div>{{ raw }}</div>
  </div>
  <script src="app.js"></script>
</body>
</html>